*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  margin: 0;
  font-family:'Work Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{

  text-decoration: none;
  color: #aaaaaa;
  cursor: pointer;
}


button{
  border:none;
  background: none;
  cursor: pointer;
}

button.btn-primary{
  background-color: #FF3946;
  color:#fff;
}